@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  transition: background-color 0.5s ease-in-out, color 0.1s ease-in-out,
    transform 0.2s ease-in-out;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-weight: 500;
  font-style: normal;
  /* background-color: #faf7f0; */
}

.swiper-pagination-bullet {
  background-color: black; /* เปลี่ยนสีเป็นเทา */
}

.swiper-pagination-bullet-active {
  background-color: #000; /* เปลี่ยนสีเป็นดำ */
}
